<%- include('partials/head') %>
<main>
  <div class="outer-container">
    <div class="inner-container1">
      <ul>
        <li>
          #<%= resume.resume_id %> <%= resume.applicantname %><br />
          <div class="searchResumeText"><%= resume.resumetext %></div>
        </li>
      </ul>
    </div>
  </div>
</main>
<%- include('partials/foot') %>
